body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0
    }

header {
    background-color: #6ef0ba;
    color: #b81ab8;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #be4ac9;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
}

h1 {
    color: #000000;
}
h3 {
    text-align: center;
}
.centralizado {
    text-align: center;
}

.container {
    width: 1348px;
    text-align: center;
    justify-content: center;
}


.texto{
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1px;
    text-align: center;
    justify-items: center;

}


.grid-container img {
    max-width: 77%;
    height: auto;
}


.grid-container img:hover {
    transform: scale(1.1); 
}


footer {
    background-color: #6ef0ba;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}